{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto pt-4 border rounded">
            <h2 class="alert alert-light border rounded">Create An Account</h2>
        <form action="/signup" method="POST">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <div class="form-group">
              <label for="">First Name</label>
              <input type="text" name="firstname" id="" value="{{values.first_name}}" class="form-control form-control-sm">
    
            </div>

            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="lastname" id="" value="{{values.last_name}}" class="form-control form-control-sm" >
      
              </div>

            <div class="form-group">
                <label for="">Phone No.</label>
                <input type="text" name="mobile_no" id="" value="{{values.mobile_no}}" class="form-control form-control-sm" placeholder="1234567890" aria-describedby="helpId">
      
              </div>  

            <div class="form-group">
                <label for="">Email</label>
                <input required type="email" name="email" id="" value="{{values.email}}"class="form-control form-control-sm" placeholder="example@gmail.com" aria-describedby="helpId">
      
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="Password" id="" class="form-control form-control-sm" placeholder="*********" aria-describedby="helpId">
      
            </div>

            <div class="form-group">
                <input type="submit" class="submit btn-info" value="SignUp">

            </div>
        </form>
        

    </div>

    </div>
</div>

{% endblock %}